<h1>Choose your attachments</h1>
<form action="/faves" method="POST">
<details>
    <summary>Muzzle</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Muzzle')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Optic</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Optic')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Barrel</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Barrel')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Laser</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Laser')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Stock</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Stock')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Grip</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Grip')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Underbarrel</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Underbarrel')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Ammunition</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Ammunition')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
        <% } %>
    <% }) %>

</details>

<details>
    <summary>Perk</summary>
    <% attachment.forEach(equip => { %>
        <% if (equip.type.includes('Perk')) { %>
            <li><input type="checkbox" name="attachments" value="<%= equip.name %>"><%= equip.name %> <%= equip.type %></li>
            <% } %>
    <% }) %>

</details>







    
    <input type="hidden" name="gun" value="<%=gun%>">
    <input type="text" name="faveName" placeholder="Name this class">
    <input type="submit" value="Save">
</form>

