<div
class="p-5 bg-image"
style="
background-image: url('/images/header.jpg');
height: 100%;
vertical-align: middle;">
<h1 style="color: greenyellow;
text-align: center;">Favorite classes of the people</h1>

<ul>
    
    <% fave.forEach(function(fav){ %>
        <a href="/results/<%= fav.name%>"><li><%= fav.name %>, <%= fav.type %></li></a>
        <form action="/faves/<%= fav.name%>/?_method=DELETE" method="POST">
        
            <input hidden type="text" name="name" value="<%= fav.name%>">
            <input hidden type="text" name="type" value="<%= fav.type%>">
            
            <input type="submit" value="Delete">
            
        </form>
    </form>
        
        
  <%  }) %>
</ul>
</div>