<div
class="p-5 text-center bg-image"
style="
background-image: url('/images/header.jpg');
height: 100%;
vertical-align: middle;">
<h1 style="text-align: center;
color: greenyellow;">Choose your weapon</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
<details style="margin-right: auto;">
    <summary >Assault Rifle</summary>
    <% weapons.forEach(pew => { %>
        <% if (pew.type.includes('Assault Rifle')) { %>
            <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
        <% } %>
    <% }) %>

</details>

<details style="margin-right: auto;">
    <summary>Submachine Gun</summary>
    <% weapons.forEach(pew => { %>
        <% if (pew.type.includes('Submachine Gun')) { %>
            <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
        <% } %>
    <% }) %>

</details>

<details style="margin-right: auto;">
    <summary>Light Machine Gun</summary>
    <% weapons.forEach(pew => { %>
        <% if (pew.type.includes('Light Machine Gun')) { %>
            <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
        <% } %>
    <% }) %>

</details>

<details style="margin-right: auto;">
    <summary>Marksman Rifle</summary>
    <% weapons.forEach(pew => { %>
        <% if (pew.type.includes('Marksman Rifle')) { %>
            <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
        <% } %>
    <% }) %>

</details>

<details style="margin-right: auto;">
    <summary>Sniper Rifle</summary>
    <% weapons.forEach(pew => { %>
        <% if (pew.type.includes('Sniper Rifle')) { %>
            <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
        <% } %>
    <% }) %>

</details>

<details style="margin-right: auto;">
    <summary>Shotgun</summary>
    <% weapons.forEach(pew => { %>
        <% if (pew.type.includes('Shotgun')) { %>
            <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
        <% } %>
    <% }) %>

</details>
</nav>

</div>


<!-- </p>
<ul><% weapons.forEach(function(pew){%>
  <a href="/class/<%= pew.name %>"><li><%= pew.name %> <%= pew.type %></li></a>
  <% }) %>
</ul>
</p> -->